<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.channel4.mm.db.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.channel4.mm.db.android.activity.AppListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="edu.channel4.mm.db.android.activity.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.channel4.mm.db.android.activity.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:parentActivityName="com.example.ch4verticalproto.AppList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ch4verticalproto.AppList" />
        </activity>
        <activity
            android:name="edu.channel4.mm.db.android.activity.AttributeListActivity"
            android:label="@string/title_activity_attribute_list"
            android:parentActivityName="edu.channel4.mm.db.android.activity.DashboardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.channel4.mm.db.android.activity.DashboardActivity" />
        </activity>
        <activity
            android:name="edu.channel4.mm.db.android.activity.GraphViewerActivity"
            android:label="@string/title_activity_graph_viewer"
            android:parentActivityName="edu.channel4.mm.db.android.activity.DashboardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.channel4.mm.db.android.activity.DashboardActivity" />
        </activity>
        <activity
            android:name="edu.channel4.mm.db.android.activity.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>